body {
  display: flex;
  height: 100vh;
  perspective: 1000px;
}

.tilt {
  display: flex;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: lightslategrey;

  transform-style: preserve-3d;

  h1 {
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    color: white;
    line-height: 100px;
    text-align: center;
    transform: translateZ(20px);
  }
}
